<!DOCTYPE html>
<html>
<head>
  <title>PocketStuffer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].camelize %>" id="<%= params[:action].camelize %>">

<%= render 'notices/auth_twitter' %>

<h1>Pocket Stuffer</h1>

<%= yield %>

</body>
</html>
